.sidebar {
    /*width: 200px;
    display: inline-block;
    vertical-align: top;
    */
}

.sidebar div {
    margin: 0px 0px 0px 15px;
    border-left: 1px solid #eeeeee;
    padding: 15px;
}

.exercise-view {
    border-bottom: 1px solid #eeeeee;
}

.exercise-view>div {
    width: 100%;
}

.exercise-buttons {
    margin: 25px 0 20px 0;
    float: right;
}

.exercise-buttons button {
    margin-right : -2px;
}

.content-subhead {
    display: inline-block;
}

.edit-p {
    display: block;
    width: 100%;
    margin-bottom: 0.8em;
}

.edit-h1 {
    font-size: 150%;
    display: block;
    margin: 25px 0 20px 0;
    width: 100%;
    display: block;
}

.right-align {
    text-align: right;
}
